@model ozo.Models.UslugaOprema

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>UslugaOprema</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReferentniTipOpreme)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReferentniTipOpreme.Naziv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usluga)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usluga.Naziv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UslugaOpremaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
