@model IEnumerable<ozo.Models.UslugaLjudi>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usluga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zanimanje)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usluga.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zanimanje.Naziv)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UslugaLjudiId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UslugaLjudiId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UslugaLjudiId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
