@model ozo.Models.Najam

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Najam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatumOd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatumOd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatumDo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatumDo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Firma)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Firma.Naziv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VrstaNajma)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VrstaNajma.Naziv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NajamId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
